body {
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(221, 221, 191);
}

/*menu 1 & menu 2*/
nav {
  position: relative;
  top: 140px;
  display: flex;
  justify-content: center;
}

/*menus horizontal*/
nav ul {
  display: flex;
  margin: 0;
  padding: 0;
}

/*Removing Format*/
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* setting up the menus */
nav ul li {
 position: relative;
  width: 150px;
  height: 40px;
  background-color: darkgray;
  line-height: 2;
  text-align: center;
  font-size: 18px;
  border-style: solid;
  border-width: 2px;
}

/* makes it a box*/
nav ul li a {
  text-decoration: none;
  color: red;
  display: block;
}

header {
  background-color: aqua;
  text-align: right;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 40px;
}

header a {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.1;
  color: black;
  font-size: 18px;
}

/* hovers over each box */
ul li a:hover {
  background-color: lightcoral;
}

/* hides the sub menu */
ul li ul li {
  display: none;
}

/* displays sub boxs */
ul li:hover ul li {
  display: block;
}

/* hovers over sub box */
ul li:hover ul {
  display: block;
}
/* gray screen in the background */
.modal-panel {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  z-index: 1;
  display: none;
}
/* white modal */
.modal-content-pane {
  position: relative;
  background: white;
  top: 80px;
  left: 70px;
  right: 90px;
  width: 80%;
  height: 80%;
  z-index: 2;
  display: none;
}

.hidden {
  display: none;
}

@media (max-width: 736px) {
  nav ul {
    flex-direction: column;
    margin-right: auto;
  }
}
